<div class="wrapper">
	<div>
		关键字：<input type="text">
		<button class="btn-search">查询</button>
	</div>
	<div class="wrapper-content">
		<table>
			<thead>
				<th>编号</th>
				<th>名称</th>
				<th>操作</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>admin</td>
					<td><a href="javascript:;" data-url="/system/log/detail?id=1">查看</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>测试员1号</td>
					<td><a href="javascript:;" data-url="/system/log/detail?id=1">查看</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>测试员2号</td>
					<td><a href="javascript:;" data-url="/system/log/detail?id=1">查看</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>