<ul class='nav_togge'>
	<li class='nav_show'><a href="javascript:;">后台管理</a>
	    <ul class='nav_top'>
	        <li><a href="javascript:;" title="" data-url="/admin/user">用户列表</a></li>
	        <li><a href="javascript:;" title="" data-url="/admin/mobile">机型列表</a></li>
	    </ul>
	</li>
	<li class='nav_show'><a href="javascript:;">CMS管理</a>
	    <ul class='nav_top'>
	        <li><a href="javascript:;" title="" data-url="/invoicing/store">库存列表</a></li>
	        <li><a href="javascript:;" title="" data-url="/invoicing/customer">客户列表</a></li>
	        <li><a href="javascript:;" title="" data-url="/invoicing/sell">销售列表</a></li>
	    </ul>
	</li>
	<li><a href="javascript:;">系统中心</a>
		<ul>
	        <li><a href="javascript:;" title="" data-url="/system/log">操作日志</a></li>
	    </ul>
	</li>
</ul>