<div>
	<form action="">
	<div>
			

			<div class="row">
				文本款：<input type="text" class='input_text'>
			</div>
			<div class="row">
				文本框：<input type="text" class='input_text'>
				<button class='add_button'>选择按钮</button>
			</div>
			<div class="row">
				姓名：<input type="radio">
			</div>
			<div class="row">
				下拉菜单：<select class='add_select'>
							<option value="- please select your options -"> - please select your options -</option>
							<option value="1" class="s">option1</option>
							<option value="2" class="s">option2</option>
							<option value="3" class="s">option3</option>
							<option value="4" class="s">option4</option>
							<option value="5" class="s">option5</option>
						</select>
			</div>
			<div class="row">
				文本域：<textarea class='textarea_text'></textarea>
			</div>
			<div class='action'>
				<button class='btn-search'>提交</button>
				<button class='btn-add'>取消</button>
			</div>
		</div>
	</form>
</div>