<div>
	<form action="">
	<div>
			

			<div class="row">
				文本款：<input type="text" class='input_text'>
			</div>
			<div class="row">
				文本框：<input type="text" class='input_text'>
				<button>选择按钮</button>
			</div>
			<div class="row">
				姓名：<input type="radio">
			</div>
			<div class="row">
				下拉菜单：<input type="radio">
			</div>
			<div class="row">
				文本域：<textarea class='textarea_text'></textarea>
			</div>
			<div>
				<button class='btn-search'>提交</button>
				<button class='btn-add'>取消</button>
			</div>
		</div>
	</form>
</div>