<div class="wrapper">
	<div>
		关键字：<input type="text" class='input_text'>
		<button class="btn-search">查询</button>
		<button class="btn-add"><a href="javascript:;" data-url="/admin/mobile/add">新增</a></button> 
	</div>
	<div class="wrapper-content">
		<table>
			<thead>
				<th>编号</th>
				<th>名称</th>
				<th>操作</th>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>oppo</td>
					<td><a href="javascript:;" data-url="/admin/mobile/detail?id=1">查看</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>vivo</td>
					<td><a href="javascript:;" data-url="/admin/mobile/detail?id=2">查看</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>金立</td>
					<td><a href="javascript:;" data-url="/admin/mobile/detail?id=3">查看</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>